/* Dark mode colors. */
:root {
    --backdrop-color: #09090b;
    --sl-color-accent: #ffce00;
    --sl-color-accent-high: #fbbf24;
    --sl-color-accent-low: #fde047;
    --sl-color-black: #09090b;
    --sl-color-gray-1: #f4f4f5;
    --sl-color-gray-2: #e4e4e7;
    --sl-color-gray-3: #d4d4d8;
    --sl-color-gray-4: #a1a1aa;
    --sl-color-gray-5: #71717a;
    --sl-color-gray-6: #27272a;
    --sl-color-white: #fff;
    --list-marker-color: #ffce00;
}

/* Light mode colors. */
:root[data-theme="light"] {
    --backdrop-color: #fff;
    --sl-color-accent: #ffce00;
    --sl-color-accent-high: #fbbf24;
    --sl-color-accent-low: #fde047;
    --sl-color-black: #fff;
    --sl-color-gray-1: #f4f4f5;
    --sl-color-gray-2: #e4e4e7;
    --sl-color-gray-3: #d4d4d8;
    --sl-color-gray-4: #a1a1aa;
    --sl-color-gray-5: #71717a;
    --sl-color-gray-6: #27272a;
    --sl-color-white: #181818;
    --list-marker-color: #ffce00;
}

header {
    backdrop-filter: blur(12px) !important;
    background-color: var(--backdrop-color) !important;
}

select {
    background-image: none;
    box-shadow: none;
}

select:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
}

article.card {
    border-radius: 0.5rem;
}

.starlight-aside--tip {
    background: linear-gradient(45deg, #09090b, #ffce00);
    border: none;
    border-radius: 0.5rem;
    color: #000000;
}

.starlight-aside--note {
    background: linear-gradient(45deg, #00b4db, #2193b0);
    border: none;
    border-radius: 0.5rem;
    color: #004558;
}

.starlight-aside__icon {
    transform: scale(0.8);
}

.starlight-aside--tip .starlight-aside__title {
    color: #ffe0c2;
}

.starlight-aside--note .starlight-aside__title {
    color: #bbf3fef7;
}

.sl-markdown-content ul:not(:where(.not-content *)) {
    list-style-type: none;
    padding-left: 0;
}

.sl-markdown-content ul:not(:where(.not-content *)) > li {
    padding-left: 1.75rem;
    position: relative;
}

.sl-markdown-content li:not(:where(.not-content *)) > ul,
.sl-markdown-content li + li:not(:where(.not-content *)) {
    margin-top: 0.625rem;
}

.sl-markdown-content ul:not(:where(.not-content *)) > li:before {
    background: var(--list-marker-color);
    border-radius: 1px;
    content: "";
    height: 2px;
    left: 2px;
    position: absolute;
    top: 13px;
    width: 0.875rem;
}
