:root {
    /* Brand colors */
    --brand-gradient: linear-gradient(to right, #FFCE00 0%, #FF9900 50%, #FF6600 100%);
    --brand-color-1: #FFCE00;
    --brand-color-2: #FF9900;
    --brand-color-3: #FF6600;

    /* UI component borders */
    --border-default: #454545;
    --border-hover: #878787;
    --border-active: var(--brand-gradient);

    /* Backgrounds for dark mode */
    --background-dark-primary: #0A0A0A;
    --background-dark-secondary: #1A1A1A;
    --background-dark-hover: #1F1F1F;
    --background-dark-active: #292929;

    /* Backgrounds for light mode */
    --background-light-primary: #FFFFFF;
    --background-light-secondary: #FAFAFA;
    --background-light-hover: #F5F5F5;
    --background-light-active: #EEEEEE;

    /* Text colors for dark mode */
    --text-dark-primary: #EDEDED;
    --text-dark-secondary: #A1A1A1;

    /* Text colors for light mode */
    --text-light-primary: #111111;
    --text-light-secondary: #333333;

    /* Additional colors from the system palette */
    --develop-end-gradient: #00dfd8;
    --develop-line-end: #019ae9;
    --develop-start-gradient: #007cf0;
    --develop-text: #0a72ef;
    --dropdown-triangle-stroke: #333;
}

body.light-mode {
    background-color: var(--background-light-primary);
    color: var(--text-light-primary);
}

body.dark-mode {
    background-color: var(--background-dark-primary);
    color: var(--text-dark-primary);
}